.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.name {
  font-family: Georgia;
  font-weight: bold;
  color: #1c1c50;
}

.email {
  font-family: Georgia;
  font-weight: bold;
  color: #1c1c50;
}

.password {
  font-family: Georgia;
  font-weight: bold;
  color: #1c1c50;
}

.upload {
  font-family: Georgia;
  font-weight: bold;
  color: #1c1c50;
}
